<section id="brewery">
    <div class="page-header">
        <h1><%= @brewery.name %></h1>
    </div>
    <div class="row">
        <div class="span5">
            <h3>Info</h3>
            <p><%= markdown @brewery.description %></p>
        </div>
        <% if (address = @brewery.full_address).present? %>
            <div class="span5">
                <h3>Address</h3>
                <address><%= address %></address>
                <% if @brewery.phone.present? %>
                    <p><%= @brewery.phone %></p>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="span5">
            <% unless @beers.empty? %>
                <h3>Produces <%= pluralize(@beers.size, "Sort") %> of Beer</h3>
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <% @beers.each do |beer| %>
                            <tr>
                                <td><%= link_to beer.name, beer_path(beer) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
        <% if @brewery.geo %>
            <%= tag(:div, :id => "map_canvas", :class => "span5", :style => "height:300px", :data => @brewery.geo) %>
        <% end %>
    </div>
</section>
